*{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
    background-image: url("image/back.png");
}


a {
    text-decoration: none;
}



/*
HEADER
*/
a.head{
    font-size: 20px;
    color: white;
}

a.head:hover{
    color:lightblue;
    text-decoration: none;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 49, 83, 1);
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo{
    width: 50px;
    height: 70px;
    margin: 10px;
}

/*
HEADER
*/




/*
Преподаватели
*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1.teat{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: 800;
}


.but{
    background-color:rgba(0, 49, 83, 1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    height: 650px;
    min-width: 300px;
    border-radius: 15px;
    padding-top: 15px;
    overflow-y: auto;
}

.but2{
    background-color:rgba(0, 49, 83, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    min-width: 300px;
    border-radius: 15px;
    padding-top: 15px;
    overflow-y: auto;
}


a.teat{
    color:white;
    font-weight: 400;
}

.gr_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}

button.grop{
    color: white;
    background-color: rgba(0, 49, 83, 1);
    font-size: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    flex-basis: 15%;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

button.grop:hover {
    background-color: lightblue;
}

button.grop:hover a{
    color: black;
}

button.teachers{
    color: white;
    background-color: rgba(0, 49, 83, 1);
    font-size: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

button.teachers:hover a{
    color: black;
    background-color: lightblue;
}


button.teachers:hover{
    background-color: lightblue;
}

.day{
    font-size: 20px;
    text-align: center;
    justify-content:center;
    align-items: center;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.name_day{
    font-size: 25px;
    font-weight: 300;
    background-color: rgba(0, 49, 83, 1);
    color: white;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}
.time{
    text-align: center;
    justify-content:center;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 10px;
}

a.gr{
    text-align: center;
    justify-content:center;
    font-weight: 900;
    padding-top: 5px;
    color: black;
}

a.gr:hover{
    color: rgba(0, 49, 83, 1);

}


a.room{
    text-align: center;
    justify-content:center;
    padding-bottom: 10px; 
    color: black;
}

a.room:hover{
    color: rgba(0, 49, 83, 1);
    font-weight: 900;
}
.pr{   
    text-align: center;
    padding-bottom: 10px;
    color:black;
}

.pr:hover{
    color:rgba(0, 49, 83, 1);
    font-weight: 900;
}

.teat{
    text-align: center;
    justify-content:center;
}

.room{
    text-align: center;
    justify-content:center;
    padding-bottom: 10px;   
}

.but{
    padding-bottom: 15px;
}

.h_add{
    text-align: center;
    padding-top: 15px;
}
.add_less{
    color:white;
    font-size: 20px;
    font-weight: 400;
}


div.less{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.teatc{
    text-align: center;
    justify-content: center;
}

.all{
    height: 800px;
}

div.one_less{
    height: 420px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.sch_teat{
    width: 100%;
    --bs-gutter-x:0;
}

/*
Преподаватели
*/





.title_table div{
    text-align: center;
    padding: 15px;
    font-weight: 400;
    border-bottom: 1px solid black;
    background-color: rgba(0, 49, 83, 1);
    color: white;
}



@media (max-width: 1200px){

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }

    h1.teat{
        margin-bottom: 0;
        font-size: 20px;
    }

    .but{
        width:300px;
    }

    a.teat{
        font-size: 15px;
    }

    .header{
        font-size: 20px;
        width: 100%;
    }

    button.teachers{
        font-size: 15px;
    }

    div.one_less{
        height: 200px;
    }

    .name_day{
        font-size: 20px;
    }

    .day{
        margin-top: 15px;
        border-right: none;
        min-width: 820px
    }

    .time{
        font-size: 15px;
        justify-content: center;
        padding-bottom: 5px;
    }

    .gr{
        font-size: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
    }

    .pr{
        font-size: 15px;
        padding-bottom: 5px;
    }

    .room{
        font-size: 15px;
        padding-bottom: 5px;
    }
    
}



@media (max-width: 750px){

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }

    h1.teat{
        margin-bottom: 0;
        font-size: 20px;
    }

    .but{
        width:300px;
    }

    a.teat{
        font-size: 15px;
    }

    .header{
        font-size: 20px;
        width: 100%;
    }

    button.teachers{
        font-size: 15px;
    }

    div.one_less{
        height: 200px;
    }

    .name_day{
        font-size: 20px;
        min-width: 250px;
    }

    .day{
        margin-top: 15px;
        min-width: 250px;
    }

    .time{
        font-size: 15px;
        justify-content: center;
        padding-bottom: 5px;
    }

    .gr{
        font-size: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
    }

    .pr{
        font-size: 15px;
        padding-bottom: 5px;
    }

    .room{
        font-size: 15px;
        padding-bottom: 5px;
    }
    
}

@media (max-width: 480px){
    div.one_less{
        height: 200px;
    }

    h1.teat{
        padding-bottom: 0;
        padding-top: 10px;
    }

    .logo{
        width: 30px;
        height: 40px;
    }

    .header{
        width: 100%;
    }
}